.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 38%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.modal-body {
    max-height: 480px;
    width: 640px;
    overflow-y: auto;
}

.show{
    display: block;
}
.hiddentab{
    display: none;
}